<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2gnD4j0CiLdT7-8eNy8XHEDPxuyLmP-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>854984013848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educonnectTeacherApp</string>
	<key>PROJECT_ID</key>
	<string>educonnect-ec97a</string>
	<key>STORAGE_BUCKET</key>
	<string>educonnect-ec97a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854984013848:ios:e02ffa9bf6d416e8da6b6d</string>
</dict>
</plist>